# 모든 build 디렉터리를 무시
build/

# Android 모듈의 빌드 아티팩트
android/build/

# iOS Xcode 빌드/캐시
ios/build/
**/XCBuildData/

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/
!.idea/codeStyles/
!.idea/runConfigurations/
!.idea/inspectionProfiles/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/flutter/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Environment variables
.env

# Firebase config (should not be committed)
GoogleService-Info.plist
**/GoogleService-Info.plist

ios/Flutter/Debug.xcconfig
ios/Flutter/Release.xcconfig